<li>
  <p><%= link_to comment.content, comment_url(comment) %></p>
  <small>Posted by <%= comment.author.username %></small>
  <small><%= time_ago_in_words(comment.created_at) %> ago.</small>
</li>
<ul>
  <% @comments.each do |c2| %>
    <% next if c2.parent_comment_id != comment.id %>
    <%= render c2 %>
    <br>
  <% end %>
</ul>
